.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* /*
Grids
========================================
*/

.App {
  padding-top: 5vh;
  /* grid-gap: 5px; */
  display: grid;
  grid-template-columns: auto 20% 400px 20% auto;
  grid-template-rows: 20vh auto auto auto auto;
  grid-template-areas:
    ". . berry . ."
    ". email-form email-form email-form ."
    ". . new-button . ."
    ". message-list . new-message ."
    ". . message . .";
  }

  .message-block {
  grid-area: message;
  /* margin-top: 100px; */
  justify-content:space-around;
  }

  .berry {
    grid-area: berry;
    height: 20vh;
    margin: auto;
    align-items:center;
    justify-content:center;
  }

  .email {
    grid-area: email-form;
    /* height: 20vh; */
    border: 2px solid pink;
    border-radius: 20px;
    margin: auto;
    padding: 10px;
    align-items:center;
    justify-content:center;
  }

  .message-list {
    grid-area: message-list;
    /* height: 20vh; */
    margin: auto;
    align-items: center;
    justify-content: center;
  }

  .new-message {
    grid-area: new-message;
    width: 100%;
    display: inline-block;
    /* height: 20vh; */
    /* margin: auto; */
    align-items: stretch;
  }
  label {
    display: inline-block;
    width: 100%;

  }

  .list {
    /* margin: auto; */
    align-items: left;
    justify-content: left;
  }

  ul {
    color: red;
    vertical-align: middle;
    padding-inline-start: 0;
  }
  .new-button {
    grid-area: new-button;
    width: 20vh;
    vertical-align: middle;
    margin: auto;
    padding: 10px;
    align-items:center;
    justify-content:center;
    margin-top: 20px;
    font-size: 30px;
    border-radius: 10px;
    font-weight: 700;
  }